/* User Mixins 
---------------------------------------*/
/*
text-align: center; выравнивание все inline-элементов
vertical-align: center; выравнивание inline элементов внутри строки, 
должно быть несколько inline-элементов.
*/
/*width is known*/
/*Центрирование инлайнов внутри блоков, значения задать родителю. 
			font-size: 78px;
			line-height: 119px;
*/
/*Parent's height is set by line-height
Child is inline or inline-block, vertical-align: middle*/
.clearfix::after {
  /*not a mixin*/
  content: "";
  clear: both;
  display: table;
}
