/* Style
---------------------------------------*/
/*
1) @import.
2) Header.
3) Advertisement.
4) Companies.
5) Preferences.
6) Localization.
7) Productivity.
8) Edward Cooper.
9) Software.
10) Integration.
11) Don't wait.
12) Footer.
13) @import media.
*/
/* 1) @import
-------------------------*/
/* Variables
---------------------------------------*/
/* User Mixins 
---------------------------------------*/
/*
text-align: center; выравнивание все inline-элементов
vertical-align: center; выравнивание inline элементов внутри строки, 
должно быть несколько inline-элементов.
*/
/*width is known*/
/*Центрирование инлайнов внутри блоков, значения задать родителю. 
			font-size: 78px;
			line-height: 119px;
*/
/*Parent's height is set by line-height
Child is inline or inline-block, vertical-align: middle*/
.clearfix::after {
  /*not a mixin*/
  content: "";
  clear: both;
  display: table;
}
/* .fluidFontSize(@Fmin, @Fmax, @Vmin, @Vmax){
  font-size: @Fmin;
  @media (min-width: @Vmin){
      @Vdif: @Vmax - @Vmin;
      @Fdif: @Fmax - @Fmin;
  font-size: ~"calc((100vw -"@Vmin~")/("unit(@Vdif)~")*("unit(@Fdif)~") +"@Fmin~")";
  //calc( (100vw - @Vmin)/(@Vmax - @Vmin) * (@Fmax - @Fmin) + @Fmin)
  }
  @media (min-width: @Vmax) {
      font-size: @Fmax;
}
} */
/* Headings
---------------------------------------*/
h1 {
  font-size: 65px;
  line-height: 70px;
  font-weight: 600;
  color: #000;
}
h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #000;
}
h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  color: #000;
}
h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #000;
}
/* Body
---------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Graphik LCG', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
/* =Buttons
---------------------------------------*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
.button {
  display: block;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  min-width: 120px;
  font-weight: 600;
  text-align: center;
}
.button-orange {
  background-color: #FF6336;
  color: #fff;
  border: 1px solid #FF6336;
  transition: all 0.3s ease-in-out;
}
.button-orange:hover {
  background-color: #fa9275;
}
.button-white {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.button-white:hover {
  background-color: #fa9275;
}
/* Graphics
---------------------------------------*/
.underline {
  text-decoration: underline;
}
/* =Links
---------------------------------------*/
a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:hover {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  outline: 2px dotted #FF6336;
}
/*2) Header*/
.main-header {
  border-bottom: 1px solid #EEEEEE;
}
.main-header__wrap {
  max-width: 1368px;
  margin: 0 auto;
  padding: 25px 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-header__logo {
  width: 130px;
  height: 28px;
  margin-right: 51px;
  display: flex;
  align-items: center;
}
.main-header__logo-svg {
  transition: all 0.3s ease-out;
}
.main-header__logo:hover > .main-header__logo-svg {
  fill: #FF6336;
  transform: scale(1.1);
}
.main-header__nav {
  margin-right: auto;
}
.main-header__item {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.main-header__item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: calc(100% - 2px);
  border-top: 1px solid #FF6336;
  border-bottom: 1px solid #FF6336;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.main-header__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  border-left: 1px solid #FF6336;
  border-right: 1px solid #FF6336;
  height: 0;
  width: calc(100% - 2px);
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}
.main-header__item:hover::before {
  width: 100%;
}
.main-header__item:hover::after {
  height: 100%;
}
.main-header__item:first-child,
.main-header__item:nth-child(2) {
  margin-right: 47px;
}
.main-header__item:nth-child(3) {
  margin-right: 32px;
}
.main-header__item:nth-child(n+4) {
  margin-right: 39px;
}
.main-header__link {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding: 5px;
}
.main-header__inner-list {
  display: none;
  position: absolute;
  animation: appearance 0.5s ease-in;
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active:hover .main-header__inner-list {
  display: block;
}
.main-header__inner-item {
  position: relative;
}
.main-header__inner-item:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: calc(100% - 2px);
  border-top: 1px solid #FF6336;
  border-bottom: 1px solid #FF6336;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.main-header__inner-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  border-left: 1px solid #FF6336;
  border-right: 1px solid #FF6336;
  height: 0;
  width: calc(100% - 2px);
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}
.main-header__inner-item:hover::before {
  width: 100%;
}
.main-header__inner-item:hover::after {
  height: 100%;
}
.main-header__sandwich {
  display: none;
}
.main-header__inner-link {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding: 5px;
}
.main-header__login {
  margin-left: 10px;
  padding: 15px;
  text-align: center;
  line-height: 12px;
  height: 45px;
}
.main-header__button {
  height: 45px;
}
/*3) Advertisement*/
.advertisement__wrap {
  max-width: 1320px;
  padding: 129px 15px 172px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.advertisement__block-left {
  flex: 0 1 42%;
}
.advertisement__block-right {
  flex: 0 1 58%;
}
.advertisement__block-right img {
  width: 100%;
}
.advertisement__title {
  /* width: 539px; */
  margin-bottom: 51px;
}
.advertisement__description {
  /* width: 520px; */
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 51px;
}
.advertisement__links {
  display: flex;
  justify-content: left;
}
.advertisement__button {
  min-width: 160px;
  padding: 16px;
}
.advertisement__button:first-child {
  margin-right: 10px;
}
.advertisement__extra {
  margin-top: 25px;
  font-size: 15px;
  line-height: 25px;
}
/* 4) Companies*/
.companies {
  background-color: #FF9C7D;
}
.companies__wrap {
  max-width: 1240px;
  margin: 0 auto;
  padding: 104px 0 104px;
}
.companies__title {
  text-align: center;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 65px;
}
.companies__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.companies__item {
  transition: all 0.3s ease-out;
}
.companies__link:hover > .companies__item {
  transform: scale(1.1);
}
.companies .specialized {
  width: 138px;
  height: 53px;
}
.companies .virgin {
  width: 72px;
  height: 54px;
}
.companies .tidal {
  width: 150px;
  height: 25px;
}
.companies .revolut {
  width: 112px;
  height: 25px;
}
.companies .yelp {
  width: 107px;
  height: 53px;
}
.companies .daimler {
  width: 150px;
  height: 19px;
}
/*5) Preferences*/
.preferences__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 90px 0 150px;
  display: flex;
  flex-direction: column;
}
.preferences__item {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-between;
}
.preferences__item:last-child {
  margin-bottom: 0;
}
.preferences__text {
  margin-bottom: 30px;
}
.preferences__link {
  font-weight: 600;
  display: inline-block;
  padding: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.preferences__link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: calc(100% - 2px);
  border-top: 1px solid #FF6336;
  border-bottom: 1px solid #FF6336;
  transition: all 0.3s ease-in-out;
}
.preferences__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  border-left: 1px solid #FF6336;
  border-right: 1px solid #FF6336;
  height: 0;
  width: calc(100% - 2px);
  transition: all 0.3s ease-in-out;
}
.preferences__link:hover {
  color: #FF6336;
}
.preferences__link:hover::before {
  width: 100%;
}
.preferences__link:hover::after {
  height: 100%;
}
.preferences__title {
  margin-top: 151px;
  margin-bottom: 30px;
}
.preferences__item:first-child .preferences__description {
  width: 493px;
}
.preferences__item:nth-child(2) .preferences__description {
  width: 450px;
  margin-right: 70px;
}
.preferences__item:nth-child(2) .preferences__title {
  width: 379px;
}
.preferences__item:nth-child(3) .preferences__description {
  width: 520px;
}
.preferences__item:nth-child(4) .preferences__description {
  width: 520px;
}
.preferences__item:nth-child(4) .preferences__title {
  margin-top: 123px;
}
.preferences__figure-code {
  width: 632px;
  height: 577px;
  padding: 119px 66px 158px;
  background-color: #FFF8E4;
}
.preferences__php {
  font-size: 14px;
  line-height: 30px;
  margin-left: 67px;
  margin-top: 10px;
}
/*6) Localization*/
.localization {
  background-color: #FFF8E4;
}
.localization__wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 120px 0 72px;
}
.localization__title {
  text-align: center;
  margin-bottom: 79px;
}
.localization__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.localization__item {
  margin-right: 40px;
}
.localization__item:nth-child(3n) {
  margin-right: 0;
}
.localization .card {
  width: 380px;
  text-align: center;
  padding: 10px;
  margin-bottom: 75px;
  cursor: pointer;
}
.localization .card__img {
  margin-bottom: 26px;
  /* transition: all 2s cubic-bezier(0,1.17,.79,.89); */
}
.localization .card__title {
  margin-bottom: 20px;
}
.localization .card:hover > .card__img {
  transform: rotate(3600deg);
  transition: all 2s cubic-bezier(0, 1.17, 0.79, 0.89);
}
.localization .card__description {
  font-size: 18px;
  line-height: 25px;
}
/*7) Productivity*/
.productivity__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 154px 0 154px;
}
.productivity__title {
  text-align-last: left;
  margin-bottom: 65px;
}
.productivity__teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productivity__item {
  margin-right: 30px;
}
.productivity__item:nth-child(3n) {
  margin-right: 0;
}
.productivity .team {
  padding: 10px 0 10px;
  text-align-last: left;
  width: 410px;
}
.productivity .team__img {
  width: 100%;
  height: 201px;
  margin-bottom: 49px;
}
.productivity .team .managers,
.productivity .team .developers,
.productivity .team .translators {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}
.productivity .team .managers {
  background-image: url(../img/managers.png);
}
.productivity .team .developers {
  background-image: url(../img/developers.png);
}
.productivity .team .translators {
  background-image: url(../img/translators.png);
}
.productivity .team__title {
  margin-bottom: 34px;
}
.productivity .team__description {
  margin-bottom: 25px;
}
/*8) Edward Cooper*/
.cooper {
  background-color: #C9E8F2;
}
.cooper__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 53px 0 105px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.cooper__text {
  flex-grow: 2;
}
.cooper__photo {
  width: 310px;
  height: 310px;
  margin-left: 85px;
}
.cooper__blockquote {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}
.cooper__cite {
  font-size: 15px;
  line-height: 25px;
}
.cooper__svg {
  width: 112px;
  height: 25px;
}
/*9) Software*/
.software {
  background-color: #DABC98;
}
.software__wrap {
  max-width: 1332px;
  margin: 0 auto;
  padding: 80px 0 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.software__img {
  margin-right: 67px;
}
.software__text {
  width: 485px;
  margin-right: 100px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.software__line {
  height: 168px;
  width: 1px;
  background-color: #000;
  margin-right: 61px;
}
.software__soft {
  margin-right: 50px;
}
.software .card {
  padding: 10px;
  width: 150px;
}
.software .card__img {
  margin-bottom: 20px;
}
.software .card__img-svg {
  margin-bottom: 20px;
}
.software .card .g2 {
  width: 35px;
  height: 36px;
}
.software .card .capterra {
  width: 150px;
  height: 37px;
}
.software .card__stars {
  margin-bottom: 14px;
}
.software .card__star {
  display: inline-block;
  margin-right: 3px;
  width: 19px;
  height: 19px;
}
.software .card__star:last-child {
  margin-right: 0;
}
.software .card__text {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
/*10) Integration*/
.integration__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 165px 0 162px;
  text-align: center;
}
.integration__title {
  font-size: 65px;
  line-height: 75px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.integration__description {
  font-size: 25px;
  line-height: 30px;
  width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.integration__img {
  margin-bottom: 32px;
}
.integration__button {
  display: inline-block;
  min-width: 193px;
  padding: 15px;
}
/*11) Don't wait*/
.dont-wait {
  background-color: #FF9C7D;
}
.dont-wait__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 119px 0 161px;
  text-align: center;
}
.dont-wait__title {
  width: 784px;
  font-size: 65px;
  line-height: 75px;
  margin: 0 auto;
  margin-bottom: 29px;
}
.dont-wait__description {
  width: 784px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 54px;
}
.dont-wait__button {
  display: inline-block;
  min-width: 160px;
  padding: 15px;
  font-size: 17px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.dont-wait__button:hover {
  background-color: #FF9C7D;
  color: #000;
}
/*12) Footer*/
.main-footer {
  background-color: #EEEEEE;
}
.main-footer__wrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 92px 0 43px;
}
.main-footer__up-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-footer__description-block {
  width: 300px;
  margin-right: 140px;
}
.main-footer .description-block {
  text-align-last: left;
}
.main-footer .description-block__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 28px;
}
.main-footer .description-block__img {
  margin-bottom: 31px;
}
.main-footer .description-block__specialized {
  margin-bottom: 11px;
  width: 80px;
  height: 32px;
}
.main-footer .description-block__text {
  margin-bottom: 15px;
}
.main-footer .description-block__link {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.main-footer .description-block__link:hover {
  color: #FF6336;
}
.main-footer .secondary-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-footer .secondary-nav__menu {
  width: 201px;
  margin-right: 20px;
}
.main-footer .secondary-nav__menu:last-child {
  margin-right: 0;
  width: 187px;
}
.main-footer .secondary-nav__title {
  margin-bottom: 21px;
}
.main-footer .secondary-nav__link {
  font-size: 15px;
  display: block;
  line-height: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
}
.main-footer .secondary-nav__link:hover {
  color: #FF6336;
}
.main-footer__line {
  margin-top: 95px;
  width: 100%;
  margin-bottom: 52px;
}
.main-footer .down-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 40px;
}
.main-footer .down-block__description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-footer .down-block__img {
  margin-right: 14px;
  display: inline-block;
  width: 90px;
  height: 21px;
}
.main-footer .down-block__text {
  display: inline-block;
  width: 305px;
  font-size: 12px;
  line-height: 15px;
}
.main-footer .down-block__rights {
  font-size: 12px;
  line-height: 15px;
}
.main-footer .down-block__years,
.main-footer .down-block__reserved {
  display: block;
}
/*13) @import media.*/
/* Media
---------------------------------------*/
@media only screen and (max-width: 1367px) {
  .main-header__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-header__link {
    font-size: 12px;
  }
  .main-header__logo {
    margin-right: 20px;
    width: 100px;
    height: 22px;
  }
  .main-header__item:first-child,
  .main-header__item:nth-child(2) {
    margin-right: 18px;
  }
  .main-header__item:nth-child(3) {
    margin-right: 18px;
  }
  .main-header__item:nth-child(n+4) {
    margin-right: 18px;
  }
  .main-header__inner-link {
    font-size: 12px;
  }
  .main-header__button {
    height: 34px;
    font-size: 12px;
    min-width: 80px;
  }
  .main-header__login {
    height: 34px;
    font-size: 12px;
    min-width: 80px;
    line-height: 20px;
    padding: 5px;
  }
  .advertisement__wrap {
    flex-direction: column;
    padding: 50px 15px 60px;
  }
  .advertisement__block-right {
    order: -1;
  }
  .advertisement__title {
    font-size: 48px;
    line-height: 50px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .advertisement__description {
    text-align: center;
    margin-bottom: 15px;
  }
  .advertisement__links {
    justify-content: center;
  }
  .advertisement__links {
    text-align: center;
  }
  .advertisement__extra {
    text-align: center;
  }
  .companies__wrap {
    padding: 50px 0 50px;
  }
  .companies__title {
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 41px;
    line-height: 45px;
  }
  .companies__img {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .companies__link {
    margin-right: 50px;
  }
  .companies__link:last-child {
    margin-right: 0;
  }
  .preferences__wrap {
    padding: 50px 15px 50px;
  }
  .preferences__item {
    margin-bottom: 50px;
  }
  .preferences__title {
    font-size: 33px;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .preferences__text {
    margin-bottom: 10px;
    font-size: 19px;
  }
  .preferences__link {
    font-size: 19px;
    line-height: 25px;
  }
  .preferences__item:first-child .preferences__description,
  .preferences__item:nth-child(2) .preferences__description,
  .preferences__item:nth-child(3) .preferences__description,
  .preferences__item:nth-child(4) .preferences__description {
    width: 48%;
    margin-right: 0;
  }
  .preferences__item:nth-child(2) .preferences__title {
    width: 100%;
  }
  .preferences__item:nth-child(4) .preferences__title {
    margin-top: 30px;
  }
  .preferences__figure {
    width: 48%;
  }
  .preferences__figure-code {
    width: 48%;
    height: 100%;
    padding: 100px 66px 100px;
  }
  .preferences__figure-img {
    width: 100%;
  }
  .preferences__php {
    display: none;
  }
  .localization__wrap {
    padding: 50px 0 50px;
  }
  .localization__title {
    text-align: center;
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .localization__item {
    margin-right: 20px;
  }
  .localization__item:nth-child(2n) {
    margin-right: 0;
  }
  .localization .card {
    width: 48%;
    padding: 10px;
    margin-bottom: 30px;
  }
  .localization .card__img {
    margin-bottom: 10px;
  }
  .localization .card__title {
    margin-bottom: 10px;
  }
  .localization .card__description {
    font-size: 19px;
    line-height: 25px;
  }
  .productivity__wrap {
    padding: 50px 0 50px;
  }
  .productivity__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 33px;
    line-height: 36px;
    text-align-last: center;
  }
  .productivity__teams {
    flex-direction: column;
  }
  .productivity .team {
    width: 100%;
    text-align: center;
    text-align-last: center;
  }
  .productivity .team__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .productivity .team .managers,
  .productivity .team .developers,
  .productivity .team .translators {
    background-position: center center;
  }
  .productivity .team__title {
    margin-bottom: 10px;
    text-align: center;
    text-align-last: center;
  }
  .productivity .team__description {
    margin-bottom: 25px;
    text-align: center;
    text-align-last: center;
  }
  .cooper__wrap {
    padding: 50px 15px 50px;
  }
  .cooper__photo {
    margin-left: 10px;
    height: auto;
  }
  .cooper__photo-img {
    width: 180px;
    height: 180px;
  }
  .cooper__blockquote {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 3px;
  }
  .cooper__cite {
    font-size: 15px;
    line-height: 25px;
  }
  .software__wrap {
    padding: 50px 0 50px;
    justify-content: space-around;
  }
  .software__img {
    margin-right: 20px;
    width: 120px;
  }
  .software__text {
    width: 300px;
    margin-right: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .software__line {
    display: none;
  }
  .software__soft {
    margin-right: 20px;
  }
  .software .card__img {
    margin-bottom: 5px;
  }
  .software .card__img-svg {
    margin-bottom: 5px;
  }
  .software .card__stars {
    margin-bottom: 5px;
  }
  .integration__wrap {
    padding: 50px 0 50px;
  }
  .integration__title {
    font-size: 34px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 10px;
  }
  .integration__description {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .integration__img {
    margin-bottom: 15px;
    width: 100%;
  }
  .dont-wait__wrap {
    padding: 50px 0 50px;
  }
  .dont-wait__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .dont-wait__description {
    margin-bottom: 15px;
  }
  .main-footer__wrap {
    padding: 50px 0 20px;
  }
  .main-footer__up-block {
    flex-direction: column;
  }
  .main-footer__description-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .main-footer .description-block {
    text-align-last: center;
    text-align: center;
  }
  .main-footer .description-block__title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .main-footer .description-block__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .main-footer__secondary-nav {
    width: 100%;
  }
  .main-footer .secondary-nav {
    justify-content: space-around;
  }
  .main-footer .secondary-nav__menu {
    width: 23%;
    margin-right: 0;
  }
  .main-footer .secondary-nav__menu:last-child {
    width: 23%;
  }
  .main-footer .secondary-nav__title {
    margin-bottom: 10px;
  }
  .main-footer .secondary-nav__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-footer__line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-footer .down-block {
    justify-content: space-around;
    min-height: 30px;
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__wrap {
    padding-top: calc((100vw - 768px )/( 599 )*( 10 ) + 15px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__wrap {
    padding-bottom: calc((100vw - 768px )/( 599 )*( 10 ) + 15px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__link {
    font-size: calc((100vw - 768px )/( 599 )*( 3 ) + 12px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__logo {
    margin-right: calc((100vw - 768px )/( 599 )*( 31 ) + 20px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__logo {
    width: calc((100vw - 768px )/( 599 )*( 30 ) + 100px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__logo {
    height: calc((100vw - 768px )/( 599 )*( 6 ) + 22px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__item:first-child,
  .main-header__item:nth-child(2) {
    margin-right: calc((100vw - 768px )/( 599 )*( 29 ) + 18px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__item:nth-child(3) {
    margin-right: calc((100vw - 768px )/( 599 )*( 14 ) + 18px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__item:nth-child(n+4) {
    margin-right: calc((100vw - 768px )/( 599 )*( 21 ) + 18px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__inner-link {
    font-size: calc((100vw - 768px )/( 599 )*( 3 ) + 12px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__button {
    height: calc((100vw - 768px )/( 599 )*( 26 ) + 34px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__button {
    font-size: calc((100vw - 768px )/( 599 )*( 4 ) + 12px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__button {
    min-width: calc((100vw - 768px )/( 599 )*( 40 ) + 80px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__login {
    height: calc((100vw - 768px )/( 599 )*( 26 ) + 34px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__login {
    font-size: calc((100vw - 768px )/( 599 )*( 4 ) + 12px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__login {
    min-width: calc((100vw - 768px )/( 599 )*( 40 ) + 80px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__login {
    line-height: calc((100vw - 768px )/( 599 )*( 10 ) + 20px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .main-header__login {
    padding: calc((100vw - 768px )/( 599 )*( 10 ) + 5px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .cooper__photo-img {
    width: calc((100vw - 768px )/( 599 )*( 130 ) + 180px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .cooper__photo-img {
    height: calc((100vw - 768px )/( 599 )*( 130 ) + 180px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .software__img {
    width: calc((100vw - 768px )/( 599 )*( 56 ) + 120px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .software__text {
    width: calc((100vw - 768px )/( 599 )*( 185 ) + 300px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .software__text {
    font-size: calc((100vw - 768px )/( 599 )*( 6 ) + 20px );
  }
}
@media only screen and (max-width: 1367px) and (min-width: 768px) {
  .software__text {
    line-height: calc((100vw - 768px )/( 599 )*( 11 ) + 20px );
  }
}
@media only screen and (max-width: 767px) {
  body {
    min-width: 360px;
  }
  .main-header__wrap {
    justify-content: space-between;
  }
  .main-header__nav {
    display: none;
  }
  .main-header .sandwich {
    margin-left: 10px;
    display: block;
    order: 4;
    cursor: pointer;
  }
  .main-header .sandwich__list {
    display: none;
  }
  .main-header .sandwich__grafics1 {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .main-header .sandwich__grafics2 {
    position: absolute;
  }
  .main-header .sandwich__grafics1::before,
  .main-header .sandwich__grafics2::before,
  .main-header .sandwich__grafics2::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-header .sandwich__grafics1::before {
    top: 7px;
    left: 6px;
  }
  .main-header .sandwich__grafics2::before {
    top: -10px;
    left: 7px;
  }
  .main-header .sandwich__grafics2::after {
    top: -18px;
    left: 7px;
  }
  .main-header .sandwich__list {
    position: fixed;
    display: block;
    top: 49px;
    left: 100vw;
    background-color: #fff;
    width: 100%;
  }
  .main-header .sandwich__link {
    display: block;
    text-align: center;
  }
  .main-header .sandwich__item {
    position: relative;
    transition: background-color 0.3s ease-in-out;
  }
  .main-header .sandwich__item:hover {
    background-color: #fee0d7;
  }
  .main-header .sandwich__item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: calc(100% - 2px);
    border-top: 1px solid #FF6336;
    border-bottom: 1px solid #FF6336;
    transition: width 1.3s ease-in-out;
    cursor: pointer;
  }
  .main-header .sandwich__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    border-left: 1px solid #FF6336;
    border-right: 1px solid #FF6336;
    height: 0;
    width: calc(100% - 2px);
    transition: height 0.3s ease-in-out;
    cursor: pointer;
  }
  .main-header .sandwich__item:hover::before {
    width: 100%;
  }
  .main-header .sandwich__item:hover::after {
    height: 100%;
  }
  .main-header .sandwich__list {
    transition: left 0.3s ease-in;
  }
  .main-header .sandwich:hover .sandwich__list {
    left: 0;
    transition: left 0.3s ease-in;
  }
  .advertisement__wrap {
    padding: 15px 15px 15px;
  }
  .advertisement__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .advertisement__block-right {
    width: 80%;
  }
  .companies__wrap {
    padding: 15px 0 15px;
  }
  .companies__title {
    max-width: 300px;
    margin-bottom: 30px;
    font-size: 29px;
    line-height: 29px;
  }
  .companies__link {
    margin-right: 30px;
  }
  .companies__link:last-child {
    margin-right: 0;
  }
  .preferences__wrap {
    padding: 15px 15px 15px;
  }
  .preferences__item {
    margin-bottom: 25px;
    flex-direction: column;
  }
  .preferences__description {
    text-align: center;
  }
  .preferences__title {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  .preferences__text {
    margin-bottom: 5px;
    text-align: center;
  }
  .preferences__item:first-child .preferences__description,
  .preferences__item:nth-child(2) .preferences__description,
  .preferences__item:nth-child(3) .preferences__description,
  .preferences__item:nth-child(4) .preferences__description {
    width: 100%;
  }
  .preferences__item:nth-child(2) .preferences__title {
    width: 100%;
  }
  .preferences__item:nth-child(4) .preferences__title {
    margin-top: 0;
  }
  .preferences__figure {
    width: 100%;
  }
  .preferences__figure-code {
    width: 100%;
    height: 100%;
    padding: 100px 66px 100px;
  }
  .preferences__figure-img {
    width: 100%;
  }
  .preferences__item:nth-child(2n) .preferences__description {
    order: -1;
  }
  .localization__wrap {
    padding: 15px 15px 15px;
  }
  .localization__title {
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .localization__item {
    margin-right: 0;
  }
  .localization__item:nth-child(2n) {
    margin-right: 0;
  }
  .localization .card {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  .localization .card__img {
    margin-bottom: 10px;
  }
  .localization .card__title {
    margin-bottom: 10px;
  }
  .localization .card__description {
    font-size: 19px;
    line-height: 25px;
  }
  .productivity__wrap {
    padding: 15px 15px 15px;
  }
  .productivity__title {
    margin-bottom: 10px;
  }
  .productivity .team__img {
    margin-bottom: 10px;
  }
  .cooper__wrap {
    padding: 15px 15px 15px;
    flex-direction: column;
    align-items: center;
  }
  .cooper__photo {
    order: -1;
    margin-bottom: 10px;
  }
  .cooper__photo-img {
    width: 310px;
    height: 310px;
  }
  .cooper__blockquote {
    text-align: center;
  }
  .cooper__cite {
    margin-bottom: 5px;
  }
  .software__wrap {
    padding: 15px 15px 15px;
    flex-wrap: wrap;
  }
  .software__img {
    margin-right: 0;
    width: auto;
    margin-bottom: 10px;
  }
  .software__text {
    width: 100%;
    margin-bottom: 10px;
  }
  .software .card {
    text-align: center;
  }
  .software .card__img {
    margin-bottom: 10px;
  }
  .software .card__img-svg {
    margin-bottom: 10px;
  }
  .software .card .capterra {
    width: 120px;
    height: 37px;
  }
  .software .card__stars {
    margin-bottom: 10px;
    text-align: center;
  }
  .software .card__text {
    text-align: center;
  }
  .integration__wrap {
    padding: 15px 15px 15px;
  }
  .integration__title {
    font-size: 25px;
    line-height: 26px;
  }
  .integration__description {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
  }
  .integration__button {
    padding: 5px;
    min-width: none;
    height: auto;
  }
  .dont-wait__wrap {
    padding: 15px 15px 15px;
  }
  .dont-wait__title {
    width: 100%;
    font-size: 25px;
    line-height: 26px;
  }
  .dont-wait__description {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
  }
  .dont-wait__button {
    padding: 5px;
    min-width: none;
    height: auto;
  }
  .main-footer__wrap {
    padding: 15px 15px 15px;
  }
  .main-footer .description-block__specialized {
    margin-bottom: 0;
  }
  .main-footer .description-block__text {
    margin-bottom: 7px;
    font-size: 19px;
    line-height: 24px;
  }
  .main-footer__secondary-nav {
    width: 100%;
  }
  .main-footer .secondary-nav {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-footer .secondary-nav__menu {
    width: 47%;
    margin-bottom: 10px;
  }
  .main-footer .secondary-nav__menu:last-child {
    width: 47%;
  }
  .main-footer__line {
    margin-top: 10px;
  }
  .main-footer .down-block {
    flex-wrap: wrap;
  }
  .main-footer .down-block__description {
    margin-bottom: 5px;
    flex-wrap: wrap;
  }
  .main-footer .down-block__years {
    text-align: center;
  }
}
/*# sourceMappingURL=./style.css.map */